.Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;                 /* garante que ocupe toda a largura */
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  border-bottom: 1px solid #2a2d57;
}
.Header h1 {
    margin: 0;
    padding: 0;
}
.Header .FiIcon {
    margin-top: 15px;
}
.Header a {
  color: rgb(176, 176, 176);
  margin-right: 30px;
  text-decoration: underline;
}